.styled{
  background-color: black;
  color: white;
  
}
.glow{
  background-color:white;
  color:black;
  
  display: inline;
}
.flex{
  display: flex;
  justify-content: center;
  
}
.alt{
  display: flex;
  justify-content: center;
}
/*.list{
  display: flex;
  justify-content: center;
}*/